body {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: normal;
    color: #1D1E1C;
}
p, li, button{
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: normal;
}
header{
    width: 100%;
    height: 84px;
    background-color: #ffffff;
    padding: 30px 0;
  }
.fences_logo {
    width: 80px;
    height: 18px;
    object-fit: contain;
}
header .content ul{
    float: left;
    width: 100%;
    padding: 0;
}
header .content ul li{
    float: left;
    list-style-type: none;
    padding: 0 13px;
}
header .content ul li a{
    color: #333631;
    font-size: 14px;
    text-decoration: none;
    padding: 0;
}
header .navbar-header{
    padding: 0 15px;
}
header .collapse.col-sm-12{
    width: 100%;
    padding: 0;
}
header .navbar-header button{
    font-size: 16px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: center;
    color: #525650;
    margin-top: 0;
    padding-top: 0;
    padding-right: 0;
    margin-right: 0;
    margin-bottom: 0;
    font-family: 'Hind Vadodara', sans-serif;
}
.Wood-fences {
    height: 20px;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.43;
    letter-spacing: normal;
    text-align: left;
    color: #333631;
}
.Wood-fences a{
    width: 85px;
}

.Inspiration {
    height: 20px;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.43;
    letter-spacing: normal;
    text-align: left;
    color: #333631;
}
.Inspiration a{
    width: 71px;
}
.Reviews {
    height: 20px;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.43;
    letter-spacing: normal;
    text-align: left;
    color: #333631;
}
.Reviews a{
    width: 53px;
}
.Help {
    height: 20px;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.43;
    letter-spacing: normal;
    text-align: left;
    color: #333631;
}
.Help a {
    width: 31px;
}
.More {
    height: 20px;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.43;
    letter-spacing: normal;
    text-align: left;
    color: #333631;
}
.More a{
    width: 35px;
}
.quote{
    margin-top: -5px;
}
.quote .btn{
    width: 100px;
    height: 36px;
    border-radius: 4px;
    border: solid 2px #01d35a;
    font-family: 'Hind Vadodara', sans-serif;
    font-size: 14px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.43;
    letter-spacing: normal;
    text-align: center;
    color: #01d35a;
}

/* Hero section styling */

.heroMain img{
    width: 100%;
}
.heroMain{
    position: relative;
}
.heroContent{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    color: #fff;
}
.heroContent .contentHere{
    width: 70%;
    margin: auto;
    text-align: center;
    padding: 50px 0;
}
.heroContent .contentHere h1{
    font-family: 'Hind Vadodara', sans-serif;
    font-size: 65px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.29;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
}
.heroContent .contentHere h3{
    font-family: 'Open Sans', sans-serif;
    font-size: 22px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.36;
    letter-spacing: normal;
    color: #ffffff;
}
.heroContent .contentHere .form-group{
    width: 620px;
    margin: auto;
    position: relative;
    margin-top: 40px;
}
.heroContent .contentHere input{
    height: 84px;
    border-radius: 4px;
    background-color: #f8fbf7;
    border: solid 1px rgba(191, 196, 189, 0.5);
    padding-right: 150px;
}
.heroContent .contentHere .form-group .btn{
    position: absolute;
    right: 15px;
    top: 20px;
    width: 120px;
    height: 50px;
    border-radius: 4px;
    background-color: #01d35a;
    font-family: 'Hind Vadodara', sans-serif;
    font-size: 16px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
}
.heroContent .contentHere .phone{
    text-align: center;
    margin-top: 30px;
}
.heroContent .contentHere .phone p{
    font-size: 22px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.36;
    letter-spacing: normal;
    color: #ffffff;
}

/* why people styling */
.whyPeople{
    padding: 50px 0;
}
.whyPeople .peopleContent{
    border-radius: 4px;
    background-color: #ffffff;
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.08);
    border: solid 1px #e4e9e2;
    padding: 50px;
    margin-left: 50px;
    z-index: 9999;
    margin-top: 35px;
}
.whyPeople .whyImage.responsive{
    display: none;
}
.whyPeople .whyImage{
    margin-left: -50px;
}
.whyPeople .whyImage img{
    width: 100%;
}
.whyPeople .peopleContent h3{
    margin-top: 0;
    font-family: 'Hind Vadodara', sans-serif;
    font-size: 30px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.33;
    letter-spacing: normal;
    text-align: left;
    color: #1d1d1b;
}
.whyPeople .whyContent .singleContent{
    float: left;
    width: 100%;
}
.whyPeople .whyContent .singleContent p{
    float: left;
    width: 95%;
    font-size: 18px;
}
.whyPeople .whyContent .singleContent .checkmark{
    width: 5px;
    height: 9px;
    border: solid #00da46;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    float: left;
    margin-top: 5px;
    margin-right: 5px;
}
.whyPeople .singleIcon{
    float: left;
    width: 25%;
    text-align: center;
    margin-top: 20px;
}
.whyPeople .singleIcon img{
    display: inline-block;
}

/* Trusted Wood styling */
.trustedWood{
    padding: 50px 0; 
}
.trustedWood .mainHeading{
    margin-bottom: 20px;
}
.trustedWood .mainHeading h3{
    font-family: 'Hind Vadodara', sans-serif;
    font-size: 30px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.33;
    letter-spacing: normal;
    text-align: left;
    color: #1d1d1b;
  }

.trustedWood .mainHeading p {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: left;
    color: #4a4a49;
}
.trustedWood .singleBox{
    border-radius: 4px;
    background-color: #ffffff;
    border: solid 1px #e4e9e2;
    height: 462px;
    padding: 20px;
}
.trustedWood .singleBox img{
    width: 100%;
}
.trustedWood .singleBoxImg{
    position: relative;
}
.trustedWood .singleBoxImg .banner{
    position: absolute;
    top: 10px;
    right: 10px;
    border-radius: 2px;
    background-color: #01d35a;
    padding: 5px 7px;
}
.trustedWood .singleBoxImg .banner p{
    font-family: 'Hind Vadodara', sans-serif;
    font-size: 10px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.2;
    letter-spacing: normal;
    text-align: left;
    color: #ffffff;
    margin-bottom: 0;
}
.trustedWood .singleBox h4{
    font-family: 'Hind Vadodara', sans-serif;
    font-size: 18px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.33;
    letter-spacing: normal;
    text-align: left;
    color: #1d1d1b;
}
.trustedWood .singleBox p{
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: left;
    color: #4a4a49;
}
.trustedWood .singleBox .Fence-diagram {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: left;
    color: #01d35a;
}

/* Fence installation styling */
.fenceInstallation{
    padding: 50px 0;
}
.fenceInstallation .fenceImg img{
    width: 100%;
}
.fenceInstallation .fenceContent h3{
    font-family: 'Hind Vadodara', sans-serif;
    font-size: 30px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.33;
    letter-spacing: normal;
    text-align: left;
    color: #1d1d1b;
    margin-top: 0;
}
.fenceImg{
    padding-right: 30px;
}
.fenceContent{
    padding-left: 30px;
}
.fenceInstallation .fenceContent .singleContent{
    margin-top: 30px;
}
.fenceInstallation .fenceContent .singleContent .number{
    float: left;
    text-align: center;
    width: 24px;
    height: 24px;
    border-radius: 100px;
    background-color: #ffffff;
    border: solid 2px #00da46;
    margin-right: 10px;
}
.fenceInstallation .fenceContent .singleContent .number span{
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #16de56;
}
.fenceInstallation .fenceContent .singleContent .head h4{
    font-size: 16px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: left;
    color: #4a4a49;
}
.fenceInstallation .fenceContent .singleContent .singleDes .checkmark{
    width: 5px;
    height: 9px;
    border: solid #00da46;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    float: left;
    margin-right: 20px;
    margin-left: 10px;
    margin-top: 7px;
}
.fenceInstallation .fenceContent .singleContent .singleDes p{
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: left;
    color: #4a4a49;
    margin-bottom: 0;
}

/* Banner styling */
section.banner .singleBanner{
    border-radius: 4px;
    background-color: #f8fbf7;
    border: solid 1px #e4e9e2;
    text-align: center;
    padding: 25px 40px;
    height: 124px;
}
section.banner .singleBanner .singleBannerIcon .fa{
    color: #01d35a;
    font-size: 24px;
}
section.banner .singleBanner h4{
    font-family: 'Hind Vadodara', sans-serif;
    font-size: 16px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.25;
    letter-spacing: normal;
    text-align: center;
    color: #333631;
}

/* Q&A section styling */

section.QA{
    padding: 50px 0;
}

.QA .heading h3{
    font-family: 'Hind Vadodara', sans-serif;
    font-size: 30px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.33;
    letter-spacing: normal;
    text-align: left;
    color: #1d1d1b;
}
.QA .singleQuestion{
    padding-bottom: 15px;
    padding-top: 15px;
}
.QA .singleQuestion.borderBottom{
    border-bottom: 1px solid #e4e9e2;
}
.QA .singleQuestion h4, .QA .singleQuestion p{
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: left;
    color: #333631;
}
.QA .singleQuestion h4{
    font-weight: bold;
}
.Read-more {
    width: 105px;
    height: 24px;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: left;
    color: #01d35a;
    font-weight: bold;
}

/* Fence service styling */
section.fenceService .mainImg img{
    width: 100%;
}
section.fenceService .mainImg{
    position: relative;
}
section.fenceService .mainImg .fenceContent{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}
section.fenceService .mainImg .fenceContent .fenceContentHere{
    width: 60%;
    margin:auto;
    padding: 120px 0;
    text-align: center;
}
section.fenceService .mainImg .fenceContent .fenceContentHere h3{
    font-family: 'Hind Vadodara', sans-serif;
    font-size: 40px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.25;
    letter-spacing: normal;
    color: #ffffff;
    margin-top: 0;
}
section.fenceService .mainImg .fenceContent .fenceContentHere p{
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.33;
    letter-spacing: normal;
    color: #ffffff;
}
section.fenceService .mainImg .fenceContent .fenceContentHere .form-group{
    width: 620px;
    margin: auto;
    position: relative;
    margin-top: 40px;
}
section.fenceService .mainImg .fenceContent .fenceContentHere .form-group input{
    height: 84px;
    border-radius: 4px;
    background-color: #f8fbf7;
    border: solid 1px rgba(191, 196, 189, 0.5);
    padding-right: 150px;
}
section.fenceService .mainImg .fenceContent .fenceContentHere .form-group .btn{
    position: absolute;
    right: 15px;
    top: 20px;
    width: 120px;
    height: 50px;
    border-radius: 4px;
    background-color: #01d35a;
    font-family: 'Hind Vadodara', sans-serif;
    font-size: 16px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
}

/* Reviews Styling */
section.reviews{
    padding: 50px 0;
}
section.reviews .heading{
    text-align: center;
}
section.reviews .heading h3{
    font-family: 'Hind Vadodara', sans-serif;
    font-size: 30px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.33;
    letter-spacing: normal;
    text-align: center;
    color: #1d1d1b;
}
section.reviews .descriptions{
    width: 75%;
    margin: auto;
}
section.reviews .singleDes{
    text-align: center;
    height: 200px;
    padding: 40px 62px;
    margin-bottom: 20px;
}
section.reviews .singleDes h3{
    font-family: 'Hind Vadodara', sans-serif;
    font-size: 40px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.25;
    letter-spacing: normal;
    color: #333631;
}
section.reviews .singleDes p{
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.43;
    letter-spacing: normal;
    text-align: center;
    color: #333631;
}
section.reviews .singleDes.rating h3{
    font-size: 65px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.29;
    letter-spacing: normal;
    color: #01d35a;
    margin-top: 0;
    margin-bottom: 0px;
}
section.reviews .singleDes.rating .fa{
    color: #01d35a;
    font-size: 20px;
    margin: 10px 0;
}
section.reviews .singleReview{
    border-radius: 4px;
    background-color: #ffffff;
    border: solid 1px #e4e9e2;
    margin: 20px 0;
    padding: 40px;
}
section.reviews .singleReview .ratings .fa{
    color: #01d35a;
    font-size: 20px;
}
section.reviews .singleReview .ratings h4{
    font-family: 'Hind Vadodara', sans-serif;
    font-size: 18px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.33;
    letter-spacing: normal;
    text-align: left;
    color: #333631;
}
section.reviews .singleReview .description p{
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: normal;
    font-style: italic;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: left;
    color: #4a4a49;
}
section.reviews .singleReview .description .note img{
    float: left;
    margin-right: 5px;
}
section.reviews .singleReview .name p{
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.33;
    letter-spacing: normal;
    text-align: left;
    color: #787e75;
}
section.reviews .more h4{
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: left;
    color: #01d35a;
    font-weight: bold;
}

/* Footer styling */
footer{
    background-color: #333631;
}
footer .footerContent{
    padding: 70px 0;
    float: left;
    width: 100%;
    color: #fff;
}
footer .footerContent .footerLogo p{
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.33;
    letter-spacing: normal;
    text-align: left;
    color: #787e75;
    margin-top: 15px;
}
footer .footerContent .wookFences p, footer .footerContent .inspiration p, footer .footerContent .company p{
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.33;
    letter-spacing: normal;
    text-align: left;
    color: #787e75;
}
footer .footerContent .wookFences ul, footer .footerContent .inspiration ul, footer .footerContent .company ul, footer .footerContent .reviews ul{
    padding: 0;
}
footer .footerContent .wookFences li, footer .footerContent .inspiration li, footer .footerContent .company li, footer .footerContent .reviews li{
    list-style: none;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.43;
    letter-spacing: normal;
    text-align: left;
    color: #ffffff;
    padding: 5px 0;
}
footer .footerContent .reviews .contact img{
    float: left;
    margin-right: 5px;
}

/* Our contractor styling */
.fenceInstall .heading{
    margin-bottom: 15px;
}
.fenceInstall .heading h1{
    font-family: 'Hind Vadodara', sans-serif;
    font-size: 65px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.29;
    letter-spacing: normal;
    text-align: left;
    color: #525650;
}
.fenceInstall .heading p{
    width: 700px;
    height: 84px;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: left;
    color: #4a4a49;
}
.fenceInstall .contractors{
    margin-bottom: 40px;
}
.fenceInstall .singleContractor{
    height: 450px;
    border-radius: 4px;
    background-color: #ffffff;
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.08);
    border: solid 1px #e4e9e2;
    padding: 15px;
}
.fenceInstall .singleContractor .contractorImg{
    width: 100%;
    height: 250px;
    border-radius: 2px;
    background-color: #e4e9e2;
}
.fenceInstall .singleContractor .description h4{
    font-family: 'Hind Vadodara', sans-serif;
    font-size: 18px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.33;
    letter-spacing: normal;
    text-align: left;
    color: #1d1d1b;
}
.fenceInstall .singleContractor .description p{
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: left;
    color: #4a4a49;
}
section.interested{
    padding-bottom: 70px;
}
section.interested .interestedHere{
    height: 322px;
    border-radius: 4px;
    background-color: #01d35a;
    border: solid 1px rgba(0, 0, 0, 0.1);
    color: #fff;
    text-align: center;
    padding: 30px 0;
}
section.interested .interestedHere .interestedContent{
    width: 45%;
    margin: auto;
}
section.interested .interestedHere .interestedContent h3{
    font-family: 'Hind Vadodara', sans-serif;
    font-size: 30px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.33;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
    margin-bottom: 25px;
}
section.interested .interestedHere .interestedContent p{
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
}
section.interested .interestedHere .interestedContent .btn{
    margin-top: 20px;
    width: 180px;
    height: 60px;
    border-radius: 4px;
    background-color: #ffffff;
    font-family: 'Hind Vadodara', sans-serif;
    font-size: 18px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.33;
    letter-spacing: normal;
    text-align: center;
    color: #333631;
}

/* help page styling */
.helpHero .helpImg{
    position: relative;
}
.helpHero .helpImg img{
    width: 100%;
}
.helpHero .helpImg .helpText{
    position: absolute;
    top: 55%;
    left: 0;
    width: 100%;
}
.helpHero .helpImg .helpText .helpContentHere{
    width: 40%;
    margin: auto;
    color: #fff;
}
.helpHero .helpImg .helpText .helpContentHere h1{
    font-family: 'Hind Vadodara', sans-serif;
    font-size: 65px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.29;
    letter-spacing: normal;
    text-align: left;
    color: #ffffff;
}

section.general{
    padding: 50px 0;
}
section.general .generalContent{
    width: 50%;
    margin: auto;
}
section.general .generalContent .heading h3{
    font-family: 'Hind Vadodara', sans-serif;
    font-size: 22px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.36;
    letter-spacing: normal;
    text-align: left;
    color: #1d1d1b;
}
section.general .generalContent .singleContent{
    float: left;
    width: 100%;
    margin-top: 15px;
}
section.general .generalContent .singleContent .singleIcon{
    float: left;
    width: 5%;
}
section.general .generalContent .singleContent .singleDescription{
    float: left;
    width: 95%;
}
section.general .generalContent .singleContent .singleDescription h4{
    margin-top: 0;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: left;
    color: #333631;
}
section.general .generalContent .singleContent .singleDescription p{
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: left;
    color: #616160;
}
section.general .generalContent .sub-heading{
    margin-top: 20px;
    float: left;
    width: 100%;
}

/* Location styling */
section.availableCities{
    padding: 30px 0;
    padding-bottom: 70px;
}
section.availableCities .heading{
    margin-bottom: 20px;
}
section.availableCities .heading h1{
    font-family: 'Hind Vadodara', sans-serif;
    font-size: 65px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.29;
    letter-spacing: normal;
    text-align: left;
    color: #525650;
}
section.availableCities .heading p{
    font-family: 'Open Sans', sans-serif;
    font-size: 22px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.36;
    letter-spacing: normal;
    text-align: left;
    color: #a3a9a0;
}
section.availableCities .citiesImg img{
    width: 100%;
}
section.availableCities .citiesContent{
    height: 470px;
    border-radius: 4px;
    background-color: #ffffff;
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.08);
    border: solid 1px #e4e9e2;
    padding: 30px 40px;
    margin-top: 40px;
    margin-left: 60px;
    z-index: 9999;
}
section.availableCities .citiesImg{
    margin-left: -60px;
}
section.availableCities .citiesContent .singleContent h4{
    font-family: 'Hind Vadodara', sans-serif;
    font-size: 16px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.25;
    letter-spacing: normal;
    text-align: left;
    color: #1d1e1c;
}
section.availableCities .citiesContent .singleContent p{
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: left;
    color: #4a4a49;
}
section.availableCities .citiesContent .singleContent{
    margin-bottom: 15px;
}

/* Pro advice styling */
section.pro-hero .pro-hero-img{
    position: relative;
}
section.pro-hero .pro-hero-img img{
    width: 100%;
}
section.pro-hero .pro-hero-img .pro-content{
    text-align: center;
    color: #fff;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px;
}
section.pro-hero .pro-hero-img .pro-content .pro-contentHere{
    width: 45%;
    margin: auto;
}
section.pro-hero .pro-hero-img .pro-content h1{
    font-family: 'Hind Vadodara', sans-serif;
    font-size: 65px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.29;
    letter-spacing: normal;
    text-align: left;
    color: #ffffff;
}
section.pro-hero .pro-hero-img .pro-content p{
    font-family: 'Open Sans', sans-serif;
    font-size: 22px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.36;
    letter-spacing: normal;
    text-align: left;
    color: #ffffff;
}

/* Blog styling */
.subscribe{
    background-color: #f2f6f0;
    height: 84px;
}
.subscribe .subscribeContent{
    width: 54%;
    margin: auto;
    padding: 17px 0;
}
.subscribe .subscribeContent .form-group{
    float: left;
    margin-bottom: 0;
    margin-right: 5px;
}
.subscribe .subscribeContent .form-group input{
    width: 420px;
    height: 48px;
    border-radius: 4px;
    background-color: #f8fbf7;
    border: solid 1px rgba(191, 196, 189, 0.5);
}
.subscribe .subscribeContent .btn{
    width: 180px;
    height: 48px;
    border-radius: 4px;
    background-color: #01d35a;
    font-family: 'Hind Vadodara', sans-serif;
    font-size: 16px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
    margin-top: 0;
    float: left;
}

section.blog{
    padding: 50px 0;
}
section.blog .blogHere{
    width: 50%;
    margin: auto;
}
section.blog .blogHere .heading h3{
    font-family: 'Hind Vadodara', sans-serif;
    font-size: 30px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.33;
    letter-spacing: normal;
    text-align: left;
    color: #333631;
    margin-top: 0;
}
section.blog .blogHere .heading p{
    font-family:'Open Sans', sans-serif;
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.33;
    letter-spacing: normal;
    text-align: left;
    color: #787e75;
}
section.blog .blogHere .singleBlog{
    margin-bottom: 20px;
    border-radius: 4px;
    background-color: #ffffff;
    border: solid 1px rgba(0, 0, 0, 0.1);
    padding: 20px;
}
section.blog .blogHere .singleBlogImg{
    height: 250px;
    background-color: #e4e9e2;
    width: 100%;
    margin-top: 20px;
}
section.blog .blogHere .singleBlogDescription p{
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: left;
    color: #4a4a49;
    margin-top: 20px;
}
section.blog .blogHere .singleBlogDescription p.highlight{

    font-size: 16px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: left;
    color: #01d35a;
}
section.blog .blogHere .blogButton .btn{
    width: 95px;
    height: 24px;
    border-radius: 4px;
    border: solid 2px #bfc4bd;
    font-family: 'Hind Vadodara', sans-serif;
    font-size: 12px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.33;
    letter-spacing: normal;
    text-align: center;
    color: #787e75;
    padding: 0;
}
section.blog .blogHere .blogButton{
    margin-top: 30px;
}
section.blog .blogHere .morePosts{
    text-align: center;
    margin-top: 50px;
}
section.blog .blogHere .morePosts .btn{
    width: 220px;
    height: 60px;
    border-radius: 5px;
    background-color: #ffffff;
    border: solid 2px #c5c5c5;
    font-family: 'Hind Vadodara', sans-serif;
    font-size: 16px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #4e4e4e;
}

/* Reviews Page styling */
.reviewsHero .reviewImg{
    position: relative;
}
.reviewsHero .reviewImg img{
    width: 100%;
}
.reviewsHero .reviewImg .reviewContent{
    position: absolute;
    top: 55%;
    left: 0;
    width: 100%;
    color: #fff;
}
.reviewsHero .reviewImg .reviewContent h1{
    font-family: 'Hind Vadodara', sans-serif;
    font-size: 65px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.29;
    letter-spacing: normal;
    text-align: left;
    color: #ffffff;
}
.reviewsHero .reviewImg .reviewContent h4{
    font-family: 'Open Sans', sans-serif;
    font-size: 22px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.36;
    letter-spacing: normal;
    text-align: left;
    color: #ffffff;
}
.reviewsHero .reviewImg .reviewContent .reviewContentHere{
    width: 35%;
}

.paginationHere{
    margin-top: 30px;
    border-top: 1px solid #ebebeb;
}
.customPagination{
    width: 390px;
    margin: auto;
    padding: 30px 0; 
}
.customPagination .prev, .customPagination .next{
    width: 60px;
    height: 60px;
    border-radius: 4px;
    background-color: #f8fbf7;
    text-align: center;
    padding: 20px 0;
}
.customPagination .prev .fa, .customPagination .next .fa{
    font-size: 20px;
}
.customPagination .prev{
    float: left;
}
.customPagination .description{
    float: left;
    width: 270px;
    text-align: center;
    padding: 20px;
}
.customPagination .description p{
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.43;
    letter-spacing: normal;
    color: #333631;
    margin-bottom: 0;
}
.customPagination .next{
    float: right;
}

/* story page styling */
.storyHero{
    height: 480px;
    background-color: #f8fbf7;
}
.storyHero .storyContent{
    width: 55%;
    margin: auto;
    margin-top: 230px;
}
.storyHero .storyContent h1{
    font-family: 'Hind Vadodara', sans-serif;
    font-size: 65px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.29;
    letter-spacing: normal;
    text-align: left;
    color: #525650;
}
.storyHero .storyContent h4{
    font-family: 'Open Sans', sans-serif;
    font-size: 22px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.36;
    letter-spacing: normal;
    text-align: left;
    color: #a3a9a0;
}
section.companyStory{
    padding:30px 0;
    padding-bottom: 70px;
}
section.companyStory .storyDescription{
    width: 55%;
    margin:auto;
}
section.companyStory .storyDescription .singlePara{
    margin-bottom: 25px;
}
section.companyStory .storyDescription .singlePara h4{
    font-family: 'Hind Vadodara', sans-serif;
    font-size: 18px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.33;
    letter-spacing: normal;
    text-align: left;
    color: #333631;
}
section.companyStory .storyDescription .singlePara p{
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: left;
    color: #4a4a49;
}
section.companyStory .storyDescription .respective p{
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: normal;
    font-style: italic;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: right;
    color: #4a4a49;
    margin-bottom: 0;
}

/* warranty page styling */
.warrantyHero .warrantyImg{
    position: relative;
}
.warrantyHero .warrantyImg img{
    width: 100%;
}
.warrantyHero .warrantyImg .warrantyContent{
    position: absolute;
    left: 0;
    width:100%;
    top: 50%;
}
.warrantyHero .warrantyImg .warrantyContentHere{
    margin-left: 15%;
    width: 43%;
}
.warrantyHero .warrantyImg .warrantyContentHere h1{
    font-family: 'Hind Vadodara', sans-serif;
    font-size: 65px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.29;
    letter-spacing: normal;
    text-align: left;
    color: #525650;
}
.warrantyHero .warrantyImg .warrantyContentHere h4{
    font-family: 'Open Sans', sans-serif;
    font-size: 22px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.36;
    letter-spacing: normal;
    text-align: left;
    color: #a3a9a0;
}
section.warrantyDescription{
    padding:30px 0;
    padding-bottom: 70px;
}
section.warrantyDescription .descriptionHere{
    width: 70%;
    margin:auto;
}
section.warrantyDescription .descriptionHere h4{
    font-family: 'Hind Vadodara', sans-serif;
    font-size: 18px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.33;
    letter-spacing: normal;
    text-align: left;
    color: #333631;
}
section.warrantyDescription .descriptionHere .conditionalWarranty p, section.warrantyDescription .descriptionHere .conditionalWarranty li{
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: left;
    color: #4a4a49;
    margin-bottom: 10px;
}
section.warrantyDescription .descriptionHere .disclaimer{
    margin-top: 25px;
}
section.warrantyDescription .descriptionHere .disclaimer p{
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: normal;
    font-style: italic;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: left;
    color: #4a4a49;
}
section.warrantyDescription .descriptionHere .disclaimer ol{
    margin-top: 25px;
}
section.warrantyDescription .descriptionHere .disclaimer li{
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: left;
    color: #4a4a49;
    margin-bottom: 10px;
}

/* Ask a question styling */
section.askQuestion{
    height: 480px;
    background-color: #f8fbf7;
    margin-bottom: 380px;
}
section.askQuestion .askImg{
    margin-left: -70px;
}
section.askQuestion .askImg img{
    width: 100%;
}
section.askQuestion .askQuestionContent{
    margin-top: 60px;
}
.askQuestionContent .askFormHere{
    border-radius: 4px;
    background-color: #ffffff;
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.08);
    border: solid 1px #e4e9e2;
    padding: 35px 45px;
}
.askQuestionContent .askFormHere h3{
    font-family: 'Hind Vadodara', sans-serif;
    font-size: 30px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.33;
    letter-spacing: normal;
    text-align: left;
    color: #1d1d1b;
    margin-bottom: 30px;
}
.askQuestionContent .askFormHere input{
    height: 60px;
    border-radius: 4px;
    background-color: #f8fbf7;
    border: solid 1px rgba(191, 196, 189, 0.5);
}
.askQuestionContent .askFormHere textarea{
    height: 120px;
    border-radius: 4px;
    background-color: #f8fbf7;
    border: solid 1px rgba(191, 196, 189, 0.5);
    width: 100%;
    padding: 10px;
}
.askQuestionContent .askFormHere form{
    padding-bottom: 20px;
    border-bottom: 1px solid #e4e9e2;
}
.askQuestionContent .askFormHere .submitButton{
    margin-top: 20px;
    text-align: right;
}
.askQuestionContent .askFormHere .submitButton .btn{
    width: 120px;
    height: 48px;
    border-radius: 4px;
    background-color: #01d35a;
    font-family: 'Hind Vadodara', sans-serif;
    font-size: 16px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
}
.askQuestionContent .askForm{
    margin-left: 70px;
    z-index: 9999;
    margin-top: 50px;
}

/* License page styling */
section .licenseImg{
    position: relative;
}
section .licenseImg img{
    width: 100%;
}
.licenseHeroContent{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    color:#fff;
}
.licenseHeroContentHere{
    width: 40%;
    margin-top: 80px;
}
.licenseHeroContentHere h1{
    font-family: 'Hind Vadodara', sans-serif;
    font-size: 65px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.29;
    letter-spacing: normal;
    color: #ffffff;
    margin-bottom: 20px;
}
.licenseHeroContentHere p{
    font-family: 'Open Sans', sans-serif;
    font-size: 22px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.36;
    letter-spacing: normal;
    text-align: left;
    color: #ffffff;
}
.licenseContentHere .singleAddress{
    border-radius: 4px;
    background-color: #ffffff;
    border: solid 1px #e4e9e2;
    padding: 30px;
    margin-bottom: 20px;
}
.licenseContentHere .singleAddress p{
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: left;
    color: #4a4a49;
}
.licenseContentHere .singleAddress p.highlight{
    color: #01d35a;
}
.licenseContentHere{
    margin-top: -150px;
    margin-bottom: 100px;
}
/* Pricing page styling */
.pricingHeroImg{
    height: 480px;
    background-color: #f8fbf7;
}
.pricingHeroImg .pricingHeroContent{
    padding: 40px 0;
}
.pricingHeroContent h1{
    font-family: 'Hind Vadodara', sans-serif;
    font-size: 65px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.29;
    letter-spacing: normal;
    text-align: left;
    color: #525650;
}
.pricingHeroContent h4{
    font-family:'Open Sans', sans-serif;
    font-size: 22px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.36;
    letter-spacing: normal;
    text-align: left;
    color: #a3a9a0;
}
section.pricingDescription .descriptionHere{
    margin-top: -200px;
    margin-bottom: 100px;
}
section.pricingDescription .descriptionImg img{
    width: 100%;
}
section.pricingDescription .descriptionContent{
    height: 626px;
    border-radius: 4px;
    background-color: #ffffff;
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.08);
    border: solid 1px #e4e9e2;
    padding: 30px;
}
section.pricingDescription .descriptionContent .singlePriDescription{
    margin-bottom: 10px;
    float: left;
    width: 100%;
}
section.pricingDescription .descriptionContent .priIcon{
    width: 20px;
    margin-right: 15px;
    float: left;
}
section.pricingDescription .descriptionContent .priDesc{
    float: left;
    width: 90%;
}
section.pricingDescription .descriptionContent .priDesc h4{
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: left;
    color: #4a4a49;
    margin-top: 0;
}
section.pricingDescription .descriptionContent .priDesc p{
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: left;
    color: #4a4a49;
}
section.pricingDescription .descriptionContent .bottomImgs .singleImg img{
    width: 100%;
}
section.pricingDescription .descriptionContent .bottomImgs .singleImg{
    padding: 0 7px;
}
section.pricingDescription .descriptionBox{
    margin-top: 50px;
    margin-left: 80px;
    z-index: 9999;
}
section.pricingDescription .descriptionImg{
    margin-left: -80px;
}

/* completed project styling */
section.completeProjects{
    padding-bottom: 30px;
}
section.completeProjects .heading{
    margin-bottom: 40px;
}
section.completeProjects .projectsHere{
    padding-bottom: 20px;
    border-bottom: 1px solid #e4e9e2;
    margin-bottom: 20px;
}
section.completeProjects .heading h1{   
    font-family: 'Hind Vadodara', sans-serif;
    font-size: 65px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.29;
    letter-spacing: normal;
    text-align: left;
    color: #525650;
}
section.completeProjects .projectRow{
    margin-bottom: 35px;
}
section.completeProjects .projectRow .head{
    margin-bottom: 10px;
}
section.completeProjects .projectRow .head p{
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: left;
    color: #4a4a49;
    margin-bottom: 0;
}
section.completeProjects .projectRow .head span{
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.33;
    letter-spacing: normal;
    text-align: left;
    color: #787e75;
}   
section.completeProjects .projectRow .singleProjectImg{
    height: 300px;
    background-color: #e4e9e2;
    position: relative;
}
section.completeProjects .projectRow .singleProjectImg .banner{ 
    position: absolute;
    top: 10px;
    right: 10px;
    width: 48px;
    height: 18px;
    border-radius: 2px;
    background-color: #01d35a;
    padding: 4px;
}
section.completeProjects .projectRow .singleProjectImg .banner p{
    font-family: 'Hind Vadodara', sans-serif;
    font-size: 10px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.2;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
    margin-bottom: 0;
}

section.completeProjects .showButton{
    text-align: center;
    margin-top: 15px;
    margin-bottom: 40px;
}
section.completeProjects .showButton .btn{
    border-radius: 5px;
    border: solid 2px #bfc4bd;
    font-family: 'Hind Vadodara', sans-serif;
    font-size: 16px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #4e4e4e;
    width: 220px;
    height: 60px;
}
/* single advice page styling */
section.singleAdvice .singleAdviceContent{
    width: 60%;
    margin: auto;
}
section.singleAdvice .heading{
    margin-bottom: 20px;
}
section.singleAdvice .singleAdviceContent .heading p{
    opacity: 0.3;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: left;
    color: #4a4a49;
}
section.singleAdvice .heading span.highlight{
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: left;
    color: #01d35a;
    opacity: 1;
}
section.singleAdvice .heading h1{
    font-family: 'Hind Vadodara', sans-serif;
    font-size: 40px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.25;
    letter-spacing: normal;
    text-align: left;
    color: #333631;
}
section.singleAdvice .heading span{
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.33;
    letter-spacing: normal;
    text-align: left;
    color: #787e75;
}
section.singleAdvice .singleAdviceContent .singleAdviceImg{
    width: 100%;
    height: 370px;
    background-color: #e4e9e2;
    margin-bottom: 20px;
}
section.singleAdvice .singleAdviceContent h3{
    font-family: 'Hind Vadodara', sans-serif;
    font-size: 30px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.33;
    letter-spacing: normal;
    text-align: left;
    color: #333631;
}
section.singleAdvice .singleAdviceContent p{
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: left;
    color: #4a4a49;
}
section.singleAdvice .singleAdviceContent .singleAdviceDes{
    padding-bottom: 25px;
    border-bottom: 1px solid #e4e9e2;
}
section.singleAdvice .singleAdviceContent .singleAdviceDes .highlight{
    color: #01d35a;
}
section.singleAdvice .singleAdviceContent .singleAdviceDes .italic{
    font-style: italic;
}
section.singleAdvice .singleAdviceContent .bottomBtns{
    margin-top: 20px;
    margin-bottom: 50px;
}
section.singleAdvice .singleAdviceContent .bottomBtns .cube{
    width: 95px;
    height: 24px;
    border-radius: 4px;
    border: solid 2px #bfc4bd;
}
section.singleAdvice .singleAdviceContent .bottomBtns .garden{
    width: 95px;
    height: 24px;
    border-radius: 4px;
    border: solid 2px #bfc4bd;
}
section.singleAdvice .singleAdviceContent .bottomBtns .btn{
    font-family: 'Hind Vadodara', sans-serif;
    font-size: 12px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.33;
    letter-spacing: normal;
    text-align: center;
    color: #787e75;
    padding: 0;
}
section.singleAdvice .singleAdviceContent .bottomBtns .rightBtns .btn{
    width: 95px;
    height: 24px;
    border-radius: 4px;
    border: solid 2px #bfc4bd;
}
section.compareHero .reviewImg .reviewContent .reviewContentHere{
    width: 60%;
}

/* compare page styling */
section.compareContent{
    padding: 30px 0; 
}
.compareContent .compareContentHere{
    padding: 30px;
    border: 1px solid;
    border-radius: 4px;
    background-color: #ffffff;
    border: solid 1px #e4e9e2;
}
.compareContent .compareContentHere img{
    width: 100%;
}
.compareContent .compareContentHere .lightGrey{
    background-color: #f8fbf7;
}
.compareContent .compareContentHere .singleRow{
    margin-bottom: 10px;
}
.compareContent .compareContentHere .singleRow .head p{
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.43;
    letter-spacing: normal;
    text-align: right;
    color: #787e75;
    padding: 10px 15px;
    margin-bottom: 0;
}
.compareContent .compareContentHere .singleRow p{
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: left;
    color: #4a4a49;
    margin-bottom: 0;
    padding: 7px;
}
.compareContent .compareContentHere .singleRow .fa{
    color: #01d35a;
    font-size: 18px;
    padding: 10px 2px;
}
.compareContent .compareContentHere .singleRow.tableHead h4{
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: left;
    color: #4a4a49;
}

@media (min-width:320px) and (max-width:567px) {
    header .logo-here, header .navbar-header{
        float: left;
        width: 50%;
    }
    header .container{
        padding: 0;
    }    
    header .container .navbar-header{
        margin-left: 0;
        margin-right: 0;
    }
    header .container .content{
        width: 100%;
        margin-left: 0;
        margin-right: 0;
        background: rgb(255, 255, 255);
        z-index: 9999;
    }
    header .content ul{
        margin: 15px 0;
    }
    header .content ul li{
        margin-bottom: 10px;
    }
    header .content ul li, header .content ul li a{
        width: 100%;
        text-align: center;
    }
    .heroContent{
        width: 100%;
    }
    .heroContent .contentHere{
        width: 100%;
    }
    .heroContent .contentHere h1{
        font-size: 40px;
        text-align: left;
    }
    .heroContent .contentHere{
        text-align: left;
    }
    .heroContent .contentHere h3{
        font-size: 18px;
        text-align: left;
    }
    .heroContent .contentHere .form-group{
        width: 100%;
    }
    .heroContent .contentHere input{
        padding: 15px;
        height: 48px;
    }
    .heroContent .contentHere .form-group .btn{
        position: relative;
        margin-top: 20px;
        width: 100%;
        height: 48px;
        right: 0;
        top: 0;
    }
    .heroContent .contentHere .phone{
        text-align: left;
    }
    .whyPeople .whyImage.desktop{
        display: none;
    }
    .whyPeople .whyImage.responsive{
        display: block;
        margin-left: 0;
        padding: 0;
    }
    .whyPeople .peopleContent{
        margin: 0;
        width: 90%;
        padding: 20px;
        margin: auto;
        margin-top: -25px;
        height: 420px;
    }
    .whyPeople .container{
        padding: 0;
    }
    .trustedWood{
        padding: 20px 0;
    }
    .trustedWood .mainHeading h3{
        font-size: 22px;
    }
    .trustedWood .mainHeading p{
        font-size: 14px;
    }
    .trustedWood .singleBox{
        margin-bottom: 15px;
    }
    .fenceInstallation .container{
        padding: 0;
    }
    .fenceImg{
        padding: 0;
    }
    .fenceContent{
        padding: 15px;
    }
    .fenceInstallation .fenceContent .singleContent .singleDes p{
        float: left;
        width: 85%;
    }
    .fenceInstallation .fenceContent .singleContent .head h4{
        float:left;
        width: 85%;
        margin-top: 0;
    }
    .fenceInstallation .fenceContent .singleContent{
        float: left;
        width: 100%;
    }
    .fenceInstallation .fenceContent h3{
        font-size: 22px;
    }
    section.banner .singleBanner{
        margin-bottom: 15px;
    }
    section.fenceService .mainImg .fenceContent .fenceContentHere{
        width: 100%;
        padding: 30px 0;
    }
    section.fenceService .mainImg .fenceContent .fenceContentHere h3{
        font-size: 30px;
    }
    section.fenceService .mainImg .fenceContent .fenceContentHere p{
        font-size: 16px;
    }
    section.fenceService .mainImg .fenceContent .fenceContentHere .form-group{
        width: 100%;
    }
    section.fenceService .mainImg .fenceContent .fenceContentHere .form-group input{
        padding: 15px;
        height: 48px;
    }
    section.fenceService .mainImg .fenceContent .fenceContentHere .form-group .btn{
        position: relative;
        margin-top: 20px;
        width: 100%;
        height: 48px;
        right: 0;
        top: 0;
    }
    .reviewsHero .reviewImg .reviewContent{
        top: 30%;
    }
    .reviewsHero .reviewImg .reviewContent .reviewContentHere{
        width: 100%;
    }
    .reviewsHero .reviewImg .reviewContent h1{
        font-size: 40px;
    }
    .reviewsHero .reviewImg .reviewContent h4{
        font-size: 18px;
    }
    .customPagination .description{
        width: 55%;
    }
    .customPagination{
        width: 100%;
    }
    section.singleAdvice .singleAdviceContent{
        width: 100%;
    }
    section.singleAdvice .container{
        padding: 0;
    }
    section.singleAdvice .heading h1, section.singleAdvice .singleAdviceContent h3{
        font-size: 22px;
    }
    .bottomBtns .leftBtns{
        margin-bottom: 10px;
    }
    section.singleAdvice .singleAdviceContent .singleAdviceDes .highlight{
        font-size: 11px;
    }
    section.completeProjects .heading h1{
        font-size:40px;
    }
    section.completeProjects .projectRow .singleProjectImg{
        margin-bottom: 15px;
    }
    section.pro-hero .pro-hero-img .pro-content{
        padding: 15px;
        top: 15%;
    }
    section.pro-hero .pro-hero-img .pro-content .pro-contentHere{
        width:100%;
    }
    section.pro-hero .pro-hero-img .pro-content h1{
        font-size: 40px;
    }
    section.pro-hero .pro-hero-img .pro-content p{
        font-size: 18px;
    }
    .subscribe .subscribeContent{
        width: 100%;
        float: left;
    }
    .subscribe .subscribeContent .form-group{
        width: 100%;
    }
    .subscribe .subscribeContent .form-group input{
        width: 100%;
        margin-bottom: 15px;
    }
    .subscribe{
        height: auto;
    }
    .subscribe .subscribeContent .btn{
        width: 100%;
    }
    section.blog .blogHere{
        width: 100%;
    }
    .fenceInstall .heading h1{
        font-size: 40px;
    }
    .fenceInstall .heading p{
        font-size: 18px;
        margin-bottom: 20px;
        width: 100%;
        height: auto;
    }
    .fenceInstall .singleContractor{
        margin-bottom: 20px;
    }
    section.interested .interestedHere .interestedContent{
        width: 100%;
    }
    section.askQuestion .askQuestionContent, .askQuestionContent .askForm{
        padding: 0;
    }
    .askQuestionContent .askFormHere{
        padding: 15px;
    }
    section.askQuestion{
        margin-bottom: 250px;
    }
    .askQuestionContent .askForm{
        margin: 0;
    }
}
